[submodule "plugins/start/scss-syntax.vim"]
	path = plugins/start/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "plugins/start/emmet-vim"]
	path = plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "colors/start/gruvbox"]
	path = colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "plugins/start/vim-visual-multi"]
	path = plugins/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "plugins/start/vim-blade"]
	path = plugins/start/vim-blade
	url = https://github.com/jwalton512/vim-blade
[submodule "plugins/start/copilot.vim"]
	path = plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "plugins/start/vim-gitgutter"]
	path = plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "plugins/start/omnisharp-vim"]
	path = plugins/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "colors/start/nordtheme-vim"]
	path = colors/start/nordtheme-vim
	url = https://github.com/nordtheme/vim
[submodule "plugins/start/vim-suda"]
	path = plugins/start/vim-suda
	url = https://github.com/lambdalisue/vim-suda
[submodule "plugins/start/vifm.vim"]
	path = plugins/start/vifm.vim
	url = https://github.com/vifm/vifm.vim
[submodule "plugins/start/vim-twig"]
	path = plugins/start/vim-twig
	url = https://github.com/lumiliet/vim-twig
[submodule "plugins/start/plenary.nvim"]
	path = plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "plugins/start/CopilotChat.nvim"]
	path = plugins/start/CopilotChat.nvim
	url = https://github.com/CopilotC-Nvim/CopilotChat.nvim
[submodule "plugins/start/tokyonight.nvim"]
	path = plugins/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
